table {
    border-collapse: collapse;
    width: 350px;
}

#table {
    border-color: rgba(255, 255, 255, 0.473) grey grey rgba(255, 255, 255, 0.473);
    border-style: inset;
    width: 350px;
    border-width:5px;
}

th {
    text-align: center;
    border: 2px rgb(29, 126, 206) solid;
    color: rgb(190, 221, 190);
    background-color: rgb(20, 58, 33);
}

td {
    border: 2px rgb(29, 126, 206) solid;
    background-color: rgb(190, 221, 190);
}

.dep2 {
    background-color:rgb(102, 136, 102);
}

.center {
    text-align: center;
}

.row1 {
    width: 21vw;
}